
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Prediction</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/hero-slider.css">
        <link rel="stylesheet" href="static/css/owl-carousel.css">
        <link rel="stylesheet" href="static/css/datepicker.css">
        <link rel="stylesheet" href="static/css/tooplate-style.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="./static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
    .button {
		  background-color: #4CAF50; /* Green */
		  border: none;
		  color: white;
		  padding: 15px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  cursor: pointer;
		}
		.button2 {background-color: #008CBA;} /* Blue */
  </style>
	
	<!-- Favicon  -->
    <link rel="icon" href="static/images/favicon.png">
</head>

<body>
 
  <div class="wrap">
      <header id="header">
          <div class="container-fluid">
              <div class="col-md-12">
                  <button id="primary-nav-button" type="button">Menu</button>
                  
                  <nav id="primary-nav" class="dropdown cf">
                      <ul class="dropdown menu">
                          <li class='active'><a href="/home">Home</a></li>
                          <li class='active'><a href="/analysis">Analysis</a></li>
                          <li class='active'><a href="#">About</a></li>
                          
                          <li><a href="/login">Signout</a></li>
                      </ul>
                  </nav><!-- / #primary-nav -->
              </div>
          </div>
      </header>
  </div>
  <div>
    <div class="container-fluid">
      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          <h1 class="header center orange-text">Anomaly detection ICS based on transfer learning </h1>
        </div>

        <div class="row">
            <form action="/predict" method="post" style="width: 50%;font-size: 1.2em;margin-left: 75px;">
                <label for="attack">Attack:</label><br><br>
                <input type="text" name="attack" placeholder="0-3" required="required" /><br><br>
               <br><br>

                <label for="count">Number of connections to the same destination host as the current connection in the past two seconds :</label><br><br>
              <input type="text" name="count" placeholder="count" required="required" /><br><br>

              <label for="dst_host_diff_srv_rate">The percentage of connections that were to different services, among the connections aggregated in dst_host_count :</label><br><br>
                <input type="text" name="dst_host_diff_srv_rate" placeholder="dst_host_diff_srv_rate" required="required" /><br><br>

                <label for="dst_host_same_src_port_rate">The percentage of connections that were to the same source port, among the connections aggregated in dst_host_srv_count :</label><br><br>
            <input type="text" name="dst_host_same_src_port_rate" placeholder="dst_host_same_src_port_rate" required="required" /><br><br>

            <label for="dst_host_same_srv_rate">The percentage of connections that were to the same service, among the connections aggregated in dst_host_count :</label><br><br>
            <input type="text" name="dst_host_same_srv_rate" placeholder="dst_host_same_srv_rate" required="required" /><br><br>

            <label for="dst_host_srv_count">Number of connections having the same port number :</label><br><br>
            <input type="text" name="dst_host_srv_count" placeholder="dst_host_srv_count" required="required" /><br><br>

            <label for="flag">Status of the connection –Normal or Error :</label><br><br>
            <input type="text" name="flag" placeholder="0-2" required="required" /><br><br>
           

                <label for="last_flag">Last Flag :</label><br><br>
              <input type="text" name="last_flag" placeholder="last_flag" required="required" /><br><br>

              <label for="logged_in">1 if successfully logged in; 0 otherwise :</label><br><br>
                <input type="text" name="logged_in" placeholder="logged_in" required="required" /><br><br>

              <label for="same_srv_rate">The percentage of connections that were to the same service, among the connections aggregated in count :</label><br><br>
                <input type="text" name="same_srv_rate" placeholder="same_srv_rate" required="required" /><br><br>

                <label for="serror_rate">The percentage of connections that have activated the flag (4) s0, s1, s2 or s3, among the connections aggregated in count :</label><br><br>
                <input type="text" name="serror_rate" placeholder="serror_rate" required="required" /><br><br>

            <label for="service_http">Destination network service used http or not :</label><br><br>
            <input type="text" name="service_http" placeholder="0 or 1" required="required" /><br><br>
            
                <button type="submit" class="button" style="border-radius: 10px;">Predict</button>
            </form>
          <br>
            {% if output %}
              <h3> Attack Class should be <b style="color:red;">{{ output }}</b>  </h3>
            {% endif %}

          </div>
        </div>
      </div>
    <!-- end of projects -->
  <!-- Footer -->
  <footer>
    <div class="sub-footer">
        <div class="container">
            <div class="col-md-12">
                <p>Copyright &copy; 2022
                
                - Design: <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
            </div>
        </div>
    </div>
</footer>
   <!-- Footer -->
    <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="./static/js/materialize.js"></script>
  <script src="./static/js/init.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>
    
    <script src="static/js/datepicker.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>