
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/hero-slider.css">
        <link rel="stylesheet" href="static/css/owl-carousel.css">
        <link rel="stylesheet" href="static/css/datepicker.css">
        <link rel="stylesheet" href="static/css/tooplate-style.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
<!--
Tooplate 2112 Brunch
https://www.tooplate.com/view/2112-brunch
-->
<body>
 
    <div class="wrap">
        <header id="header">
            <div class="container-fluid">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li class='active'><a href="/">Home</a></li>
                            
                            
                            <li><a href="/logon">SignUp</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </header>
    </div>


    <div class="banner">
        <div class="container-fluid">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="left-content">
                    <div class="inside-content">
                        <h4>Anomaly detection ICS based on transfer learning </h4>
                        <div class="white-border-button">
                            <a href="/logon">SignUp</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>


    


    <div class="left-right-image">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="right-image">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="hidden-sm hidden-xs">Intrusion Detection System</h2>
                            
                            <p> Experimental
                                results over NSL-KDD, as two well known and more widely employed datasets in computer network
                                area, revealed the voting procedure was highly effective to increase the system performance, where the false
                                alarms were reduced up to 75% in comparison with the different Machine Learning like Logistic Regression, Naive Bayes,
                                Decision Tree, KNN, SVM, MLP with Select K Mean Feature Algorthim along with PCA with Random Forest Model.</p> <br />
                            <div class="blue-border-button">
                                <a href="#">View More</a>
                            </div>
                        </div>
                       
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>


    

    <footer>
        <div class="sub-footer">
            <div class="container">
                <div class="col-md-12">
                    <p>Copyright &copy; 2022
                    
                    - Design: <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
                </div>
            </div>
        </div>
    </footer>


    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>
    
    <script src="static/js/datepicker.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>